<mjml lang="en">
    <mj-head>
        {% set primary_color = "red" %}
        {% set secondary_color = "gray" %}

        <mj-attributes>
            <mj-class name="text-primary" color="{{ primary_color }}"/>
            <mj-class name="text-secondary" color="{{ secondary_color }}"/>

            <mj-class name="bg-primary" background-color="{{ primary_color }}"/>
            <mj-class name="bg-secondary" background-color="{{ secondary_color }}"/>
        </mj-attributes>
    </mj-head>
</mjml>
