<mjml lang="en">
    <mj-head>

        <mj-attributes>
            <mj-class name="bg-primary" background-color="{{ base_design_config.primary_color }}"/>
            <mj-class name="bg-secondary" background-color="{{ base_design_config.secondary_color }}"/>
            <mj-class name="bg-dark" background-color="black"/>

            <mj-class name="text-primary" color="{{ base_design_config.primary_color }}"/>
            <mj-class name="text-secondary" color="{{ base_design_config.secondary_color }}"/>
            <mj-class name="text-light" color="white"/>

            <mj-class name="text-large" font-size="16px">
            <mj-class name="text-small" font-size="10px">
        </mj-attributes>

        <mj-style>
            :root {
                --primary-color: {{ base_design_config.primary_color }};
                --secondary-color: {{ base_design_config.secondary_color }};
            }

            .text-primary {
                color: var(--primary-color) !important;
            }

            .text-secondary {
                color: var(--secondary-color) !important;
            }

            .text-small {
                font-size: 10px !important;
            }

            .text-large {
                font-size: 16px !important;
            }
        </mj-style>
    </mj-head>
    <mj-body>
        {% block header %}{% header %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    </mj-body>
</mjml>
