{% extends "base.mjml.jinja" %}

{% block header %}
    <mj-section>
        <mj-column>
            <mj-text class="text-primary" align="center">
                <p>
                    <a href="{{ base_config.website_url }}">
                        {{ base_config.website_display_url }}
                    </a>
                    |
                    {{ today.strftime("%A, %B, %d, %Y") }}
                </p>
            </mj-text>

            <mj-text class="text-primary" align="center">
                <p>
                    <a href="{{ base_config.view_in_browser_url }}">
                        Click to view this email in your browser
                    </a>
                </p>
            </mj-text>
        </mj-column>
    </mj-section>

    <mj-section>
        <mj-column>
            <mj-image
                src="{{ base_config.header_image_url }}"
                href="{{ base_config.website_url }}"
            />
        </mj-column>
    </mj-section>

    <mj-section class="bg-primary">
        <mj-column>
            <mj-text class="text-light" align="center">
                <p>
                    <a href="{{ base_config.tip_url }}">
                        Submit Tips
                    </a>
                    |
                    <a href="{{ base_config.donate_url }}">
                        Donate
                    </a>
                    |
                    <a href="{{ base_config.submit_url }}">
                        Submit Work
                    </a>
                </p>
            </mj-text>
        </mj-column>
    </mj-section>
{% endblock %}

{% block footer %}
    <mj-section class="bg-primary">
        <mj-column>
            <mj-text class="text-white text-large" align="center">
                <p>
                    <a href="{{ base_config.tip_url }}">
                        Are we missing something? Click here to send us a tip.
                    </a>
                </p>
            </mj-text>
        </mj-column>
    </mj-section>

    <mj-section class="bg-dark">
        <mj-column>
            <mj-text class="text-white">
                <p>
                    {{ base_config.name }}
                    |
                    <a href="{{ base_config.website_url }}">
                        {{ base_config.website_display_url }}
                    </a>
                </p>
                <p>
                    {{ base_config.address }}
                    |
                    <a href="mailto:{{ base_config.email_address }}">
                        {{ base_config.email_address }}
                    </a>
                </p>
                <p>
                    <a href="{{ base_config.contact_url }}">
                        Contact us
                    </a>
                    |
                    <a href="{{ base_config.join_url }}">
                        Click here to join our staff
                    </a>
                </p>
            </mj-text>
        </mj-column>
    </mj-section>
{% endblock %}
